streamlit
langchain-chroma
langchain-huggingface
langchain-community
langchain-core
langchain-google-genai
langchain-groq
langchain-openai
huggingface-hub
sentence-transformers
chromadb
tenacity
pydantic
google-api-core
google-generativeai
google-cloud-core
pysqlite3-binary
